@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F4F4F7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Anton';
}

.btn-badge {
  min-width: 130px;
}